*, *:focus, *:hover {
  outline:none;
}

.wrapper {
  height: 100%;
  display: grid;
}

.content {
  margin: auto;
  max-width: 635px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.15);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content > div {
  cursor: context-menu;
}

.community {
  grid-column-start: 1;
  grid-column-end: 3;
  background: rgb(255, 255, 255);
  color: rgb(154, 167, 190);
  padding: 38px 40px 45px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.community > div {
  line-height: 1.7;
}

.community h1 {
  color: rgb(42, 179, 177);
}

.community h2 {
  color: rgb(192, 223, 51);
}

.subscription, .aboutUs{
  padding: 40px 40px 40px;
  color: rgb(255, 255, 255);
}

.subscription {
  background: rgb(42, 179, 177);
  border-bottom-left-radius: 5px;
}

.subscription h2 {
  margin: 0 0 20px;
}

.priceContainer {
  margin-bottom: 35px;
}

.price {
  font-size: 32px;
}

.price sup {
  font-size:16px;
  opacity: 0.75;
}

.priceContainer .priceDescription {
  font-size: 15px;
}

.subscription input[type="button"] {
  width: 100%;
}

.aboutUs {
  background: rgb(75, 191, 188);
  font-size: 14px;
  border-bottom-right-radius: 5px;
}

.aboutUs h2 {
  margin: 0 0 16px;
}

.aboutUs ul {
  color: rgba(255, 255, 255, 0.75);
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    margin-left: 8.5%;
    margin-right: 8.5%;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    margin: 72px 8.5% 62px;
  }

  .content {
    display: initial;
  }

  .community {
    font-size: 14px;
    padding: 27px 26px 40px;
  }

  .community h1 {
    font-size: 20px;
  }

  .community h2 {
    font-size: 15px;
    margin: 0 0 16px;
  }

  .subscription {
    padding: 30px 26px 24px;
    border-bottom-left-radius: 0;
  }

  .subscription h2 {
    font-size: 18px;
  }

  .aboutUs {
    padding: 30px 26px 26px;
    border-bottom-left-radius: 5px;
  }
}
