.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center; /* adjusted */
}

.content {
  width: 44%;
  /*max-width: 635px;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.content > div {
  padding: 45px 40px 40px;
  cursor: context-menu;
}

/*.content > div:hover {
  opacity: 0.75;
}*/

.community {
  grid-column-start: 1;
  grid-column-end: 3;
  background: rgb(255, 255, 255);
  color: rgb(154, 167, 190);
  font-size: 16px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.community h1 {
  color: rgb(42, 179, 177);
}

.community h2 {
  color: rgb(192, 223, 51);
}

.subscription, .whyUs{
  color: rgb(255, 255, 255);
}

.subscription {
  background: rgb(42, 179, 177);
  border-bottom-left-radius: 5px;
}

.subscription sup {
  font-size:16px;
  opacity: 0.75;
}

.subscription input[type="button"] {
  width: 100%;
}

.priceContainer {
  margin-bottom: 40px;
}

.price {
  font-size: 32px;
}

.whyUs {
  background: rgb(75, 191, 188);
  font-size: 14px;
  border-bottom-right-radius: 5px;
}

.whyUs ul {
  color: rgba(255, 255, 255, 0.75);
  list-style-type: none;
  padding: 0;
  margin: 0;
}
