# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Playground\single-price-grid-component\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
